body {
    background-color:rgb(154, 201, 84);
    text-align: justify;
}

#content {
    width: 600px;
    border: 3.25px solid black;
    margin: auto;
    padding: 30px;
    background-color: beige;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    max-width: 100%;
    border: 2.25px solid black;
    border-radius: 10px;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}